<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--JdbcTemplate 日志记录-->
    <logger name="org.springframework.jdbc.core" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
